*{
    box-sizing: border-box;
    margin-top: 0px;
}
#card{
    width: 300px;
    height: auto;
    background-color: darkgrey;
    padding: 10px;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8px;
    text-align: center;
}

#pic{
    width: 100%;
    height: auto;
    border-radius: 20px;
    

}